#first{
    height: 120px;
    width: 250px;
    color: aliceblue;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 5px 5px rgb(81, 83, 80);
    border: 5px solid black;
    margin: 30px;
    font-size: 60px;
    display: block;
    text-align: center;
    justify-content: center;
}
.contain{
    text-align: center;
    font-size: 100px;
    margin: 40px;
}
#end-date{
    font-size: 60px;
    text-align: center;
    margin: 50px;
}
*{
    background-color: rgb(152, 70, 161);
}
.div{
    display: inline-block;
    margin-right: 20px;
    color: rgb(3, 30, 75);
    font-size: 30px;
    text-align: center;
    background-color: aquamarine;
}
.head{
    height: 30vw;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
@media (max-width:900px) {
    .head{
       display: grid;
       grid-template-columns: repeat(auto-fit,
       minmax(180px,1fr));
       padding: 20px;
       
    }
    .contain{
        font-size: 90px;
    }
    #end-date{
        font-size: 50px;
    }
    #first{
        width: 150px;
    
    }
}
